<!-- 
    Page design and code cited from the provided GitHub: 
    github.com/osu-cs340-ecampus/nodejs-starter-app 
-->

<h2>The Categories</h2>

{{!-- Create a table --}}
<table id="categories-table">

  {{!-- Header section --}}
  <thead>

    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>

    {{!-- For each row, print info in order --}}
    {{#each data}}
    <tr data-value={{this.id}}>
      <td>{{this.id}}</td>
      <td>{{this.category}}</td>
      <td>{{this.description}}</td>
      <td><button class="delete-button" onclick="deleteCategory({{this.id}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h3>Add Category:</h3>
<form id="add-category-form-ajax">
  <label for="input-name">Category Name: </label>
  <input type="text" name="input-name" id="input-name">

  <label for="input-description">
    <br>
    Description: </label><br>
  <textarea class="large" name="input-description" rows="4" cols="50" id="input-description"></textarea>

  <br>
  <br>
  <input type="submit" class="submit-button" style="float: right;">
</form>

{{!-- Form to update a record to the table --}}
<h3>Update Category:</h3>
<form id="update-category-form-ajax">

  <label for="input-name">Choose Category: </label>
  <select name="input-name" id="category-select" onchange="populateFields(this.value)">
    <option value="">Select Category</option>
    {{#each data}}
    <option value="{{this.id}}">{{this.category}}</option>
    {{/each}}
  </select>

  <label for="input-update-name"><br>Update Name: </label>
  <input type="text" name="input-update-name" id="input-update-name">

  <label for="input-description">
    <br>
    Update Description: </label><br>
  <textarea class="large" name="input-description" rows="4" cols="50" id="input-update-description"></textarea>

  <br>
  <br>
  <input type="submit" class="submit-button" style="float: right;">

</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_category.js"></script>
<script src="./js/delete_category.js"></script>
<script src="./js/update_category.js"></script>