<div>

  {{!-- Create a table --}}
<table id="cocktails-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Cocktail ID</th>
            <th>Name</th>
            <th>Instructions</th>
            <th>Glass Used</th>
            <th>Tools Used</th>
            <th>Ingredients</th>
            <th>Category</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.instructions}}</td>
            <td>{{this.glassUsed}}</td>
            <td>{{this.Tools_Used}}</td>
            <td>{{this.Ingredients_Amounts}}</td>
            <td>{{this.drinkCategoryID}}</td>
            <td><button class="delete-button" onclick="deleteIngredient({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>


{{!-- Form to add a Cocktail to the table --}}
<h3>Add Cocktail:</h3>
<p>To add a new Cocktail to the table, please enter information below and submit:</p>
<p>(To add or update Ingredients or Tools, please visit the Intersection tables!)</p>
<form id="add-cocktail-form-ajax">
    <label for="input-name">Cocktail Name: </label>
    <input type="text" name="input-name" id="input-name">
    <label for="input-instructions">
    <br>
    Instructions: </label><br>
  <textarea class="large" name="input-instructions" rows="4" cols="25" id="input-instructions"></textarea>
  <br>
  <label for="input-glass">Glass Used: </label>
    <input type="text" name="input-glass" id="input-glass">
  <br>
  <label for="input-cocktail-category">Cocktail Category by ID#: </label>
    <input type="text" name="input-cocktail-category" id="input-cocktail-category">
  
  </select>

    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">
</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_cocktail.js"></script>