<!-- 
    Page design and code cited from the provided GitHub: 
    github.com/osu-cs340-ecampus/nodejs-starter-app 
-->


<h2>Cocktails + Ingredients Intersection Table</h2>
<br>

{{!-- Create a table --}}
<table id="cocktailIngredients-table">

  {{!-- Header section --}}
  <thead>

    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>

    {{!-- For each row, print info in order --}}
    {{#each data}}
    <tr data-value={{this.cocktailIngredientsID}}>
      <td>{{this.cocktailIngredientsID}}</td>
      <td>{{this.cocktailID}}</td>
      <td>{{this.ingredientID}}</td>
      <td>{{this.amountUsed}}</td>
      <td><button class="delete-button" onclick="deleteCocktailIngredient({{this.cocktailIngredientsID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h3>ADD RELATIONSHIP:</h3>
<form id="add-cocktail-ingredient-form-ajax">
<label for="input-name">Choose Cocktail: </label>
    <select name="input-name" id="input-cocktailID" onchange="populateFields(this.value)">
        <option value="">Select a Cocktail</option>
        {{#each cocktails}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <br>
<label for="input-name">Choose Ingredient: </label>
    <select name="input-name" id="input-ingredientID" onchange="populateFields(this.value)">
        <option value="">Select an Ingredient</option>
        {{#each ingredients}}
        <option value="{{this.id}}">{{this.ingredientName}}</option>
        {{/each}}
    </select>
    <br>
<label for="input-amount">Amount used: </label>
    <input type="text" name="input-amount" id="input-amount">
    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">
</form>

<div>
  <h3>UPDATE RELATIONSHIP:</h3>
  <form id="update-cocktailIngredient-form-ajax">
    <label for="input-name">Choose Relationship ID: </label>
    <select name="input-id" id="select-cocktailIngredientID">
        <option value="">Select an ID to update: </option>
        {{#each data}}
        <option value="{{this.cocktailIngredientsID}}">{{this.cocktailIngredientsID}}</option>
        {{/each}}
    </select>
  <br>
  <label for="input-amount">Amount used: </label>
    <input type="text" name="input-amount" id="input-amount-update">
    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">
</form>
</div>
</div>

<script src="./js/add_cocktail_ingredient.js"></script>
<script src="./js/delete_cocktail_ingredient.js"></script>
<script src="./js/update_cocktail_ingredient.js"></script>