<h2>Cocktails + Tools Intersection Table</h2>
<br>

{{!-- Create a table --}}
<table id="cocktailTools-table">

  {{!-- Header section --}}
  <thead>

    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>

    {{!-- For each row, print info in order --}}
    {{#each data}}
    <tr data-value={{this.cocktailToolID}}>
      <td>{{this.cocktailToolID}}</td>
      <td>{{this.cocktailID}}</td>
      <td>{{this.toolID}}</td>
      <td><button class="delete-button" onclick="deleteTool({{this.cocktailToolID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h3>ADD RELATIONSHIP:</h3>

<form>
  <label>
    Cocktail Tool ID:
    <input type="text">
  </label><br>
  <label>
    Tool ID:
    <input type="text">
  </label><br>
  <label>
    Cocktail ID:
    <input type="text">
  </label><br>
</form>

<div>
  <h3>UPDATE RELATIONSHIP:</h3>

  <form>
    <label>
      Cocktail Tool ID:
      <input type="text">
    </label><br>
    <label>
      Tool ID:
      <input type="text">
    </label><br>
    <label>
      Cocktail ID:
      <input type="text">
    </label><br>
  </form>
</div>