<!-- 
    Page design and code cited from the provided GitHub: 
    github.com/osu-cs340-ecampus/nodejs-starter-app 
-->


<h2>Cocktails + Tools Intersection Table</h2>
<br>

{{!-- Create a table --}}
<table id="cocktailTools-table">

  {{!-- Header section --}}
  <thead>

    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>

    {{!-- For each row, print info in order --}}
    {{#each data}}
    <tr data-value={{this.cocktailToolID}}>
      <td>{{this.cocktailToolID}}</td>
      <td>{{this.cocktailID}}</td>
      <td>{{this.toolID}}</td>
      <td><button class="delete-button" onclick="deleteCocktailTool({{this.cocktailToolID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h3>ADD RELATIONSHIP:</h3>
<form id="add-cocktailTool-form-ajax">
<label for="input-name">Choose Cocktail: </label>
    <select name="input-name" id="input-cocktailID" onchange="populateFields(this.value)">
        <option value="">Select a Cocktail</option>
        {{#each cocktails}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <br>
<label for="input-name">Choose Tool: </label>
    <select name="input-name" id="input-toolID" onchange="populateFields(this.value)">
        <option value="">Select a Tool</option>
        {{#each tools}}
        <option value="{{this.id}}">{{this.toolName}}</option>
        {{/each}}
    </select>
    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">
</form>


<div>
  <h3>UPDATE RELATIONSHIP:</h3>
  <form id="update-cocktailTool-form-ajax">
    <label for="input-name">Choose Relationship ID: </label>
    <select name="input-id" id="select-cocktailtoolID">
        <option value="">Select a CocktailToolID</option>
        {{#each data}}
        <option value="{{this.cocktailToolID}}">{{this.cocktailToolID}}</option>
        {{/each}}
    </select>
  <br>
  <label for="input-cocktailID">Cocktail ID: </label>
    <input type="text" name="input-cocktailID" id="input-update-cocktailID"><br>
  <label for="input-toolID">Tool ID: </label>
    <input type="text" name="input-toolID" id="input-update-toolID">
    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">
</form>
</div>
  


<script src="./js/add_cocktail_tool.js"></script>
<script src = "./js/update_cocktail_tool.js"></script>
<script src = "./js/delete_cocktail_tool.js"></script>