<div>

  {{!-- Create a table --}}
<table id="cocktails-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>{{this.instructions}}</td>
            <td>{{this.glassUsed}}</td>
            <td>{{this.cocktailToolID}}</td>
            <td>{{this.cocktailIngredientsID}}</td>
            <td>{{this.drinkCategoryID}}</td>
            <td><button class="delete-button" onclick="deleteIngredient({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

  <div>
    <div>
      <h3>ADD COCKTAIL:</h3>
      <form>
        <label>
          Name:
          <input type="text">
        </label><br>
        <label>
          Instructions:
          <input type="text">
        </label><br>
        <label>
          Glass:
          <input type="text">
        </label><br>
        <label>
          Drink Category (By ID#):
          <input type="radio" name="drink_category" value="1"> 1: Old Fashioned
          <input type="radio" name="drink_category" value="2"> 2: Daiquiri
          <input type="radio" name="drink_category" value="3"> 3: Martini
          <input type="radio" name="drink_category" value="4"> 4: Highball
          <input type="radio" name="drink_category" value="5"> 5: Flip
          <input type="radio" name="drink_category" value="6"> 6: Sidecar
        </label><br>
        <label>
          Name:
          <input type="text">
        </label><br>
        <input type="submit" value="Add Cocktail">
      </form>
    </div>
    <div>
      <h3>UPDATE COCKTAIL: </h3>
      <form>
        <label>Select a Cocktail to Update:</label>
        <label>
          <select name="cocktails">
            <option value="old-fashioned">Old Fashioned</option>
            <option value="rusty-nail">Rusty Nail</option>
            <option value="negroni">Negroni</option>
            <option value="brandy-alexander">Brandy Alexander</option>
            <option value="tom-collins">Tom Collins</option>
          </select>
        </label>
        <br>
        <label>
          Instructions:
          <input type="text">
        </label><br>
        <label>
          Glass:
          <input type="text">
        </label><br>
        <label>
          Drink Category (By ID#):
          <input type="radio" name="drink_category" value="1"> 1: Old Fashioned
          <input type="radio" name="drink_category" value="2"> 2: Daiquiri
          <input type="radio" name="drink_category" value="3"> 3: Martini
          <input type="radio" name="drink_category" value="4"> 4: Highball
          <input type="radio" name="drink_category" value="5"> 5: Flip
          <input type="radio" name="drink_category" value="6"> 6: Sidecar
        </label><br>
        <label>
          Name:
          <input type="text">
        </label><br>
        <input type="submit" value="Update">
        <input type="submit" value="Delete">
      </form>
    </div>
  </div>