<h2>The Customers</h2>
<br>
{{!-- Create a table --}}
<table id="customers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td><button class="delete-button" onclick="deleteIngredient({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h3>Add Customer:</h3>
<p>To add a new customer, please enter the information below and click 'Submit'!</p>
<form id="add-customer-form-ajax">
    <label for="input-name">Customer First Name: </label>
    <input type="text" name="input-fname" id="input-fname">

    <br>
    <label for="input-amount">Customer last name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">
</form>

  <h3>UPDATE CUSTOMER:</h3>

  <form>
    <label>Select a customer ID to Modify:</label>
    <label>
      <select name="customers">
        <option value="robert">Robert MacPherson</option>
        <option value="alex">Alex Blumenstock</option>
        <option value="anna">Anna Kendrick</option>
        <option value="kendrick-lamar">Kendrick Lamar</option>
        <option value="mahomes">Patrick Mahomes</option>
      </select>
    </label>
    <br>
    <label>
      First Name:
      <input type="text">
    </label><br>
    <label>
      Last Name:
      <input type="text">
    </label><br>
    <label>
      Drink Category (By ID#):
      <input type="radio" name="drink_category" value="1"> 1: Old Fashioned
      <input type="radio" name="drink_category" value="2"> 2: Daiquiri
      <input type="radio" name="drink_category" value="3"> 3: Martini
      <input type="radio" name="drink_category" value="4"> 4: Highball
      <input type="radio" name="drink_category" value="5"> 5: Flip
      <input type="radio" name="drink_category" value="6"> 6: Sidecar
    </label><br>
    <input type="submit" value="Update">
    <input type="submit" value="Delete">
  </form>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_customer.js"></script>