<h2>The Customers</h2>
<br>
{{!-- Create a table --}}
<table id="customers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print info in order --}}
        {{#each data}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td><button class="delete-button" onclick="deleteCustomer({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h3>Add Customer:</h3>
<p>To add a new customer, please enter the information below and click 'Submit'!</p>
<form id="add-customer-form-ajax">
    <label for="input-name">Customer First Name: </label>
    <input type="text" name="input-fname" id="input-fname">

    <br>
    <label for="input-amount">Customer last name: </label>
    <input type="text" name="input-lname" id="input-lname">

    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">
</form>

  <h3>UPDATE CUSTOMER:</h3>

  {{!-- Form to update a record to the table --}}
<h3>Update Customer:</h3>
<form id="update-customer-form-ajax">

    <label for="input-name">Choose Customer: </label>
    <select name="input-name" id="mySelect" onchange="populateFields(this.value)">
        <option value="">Select a Customer</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.id}}</option>
        {{/each}}
    </select>

    <label for="input-update-fname"><br>Update First Name: </label>
    <input type="text" name="input-update-fname" id="input-update-fname">
    <br>

    <label for="input-amount">Update Last Name: </label>
    <input type="text" name="input-update-lname" id="input-update-lname">

    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">

</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_customer.js"></script>
<script src="./js/delete_customer.js"></script>
<script src="./js/update_customer.js"></script>