<h2>The Customers</h2>
<br>
{{!-- Create a table --}}
<table id="customers-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
         <tr>
             {{#each data.[0]}}
             <th>
                 {{@key}}
             </th>
             {{/each}}
             <th>delete</th>
         </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print info in order --}}
        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.id}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.cocktailCategory}}</td>
            <td><button class="delete-button" onclick="deleteCustomer({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h3>Add Customer:</h3>
<form id="add-customer-form-ajax">
    <label for="input-firstName">Customer First Name: </label>
    <input type="text" name="input-fname" id="input-fname">

    <br>
    <label for="input-lastName">Customer last name: </label>
    <input type="text" name="input-lname" id="input-lname">
    <br>
    <label for="input-category">Preferred Cocktail Category: </label>
    <select name="input-category" id="mySelect">
        <option value="">Select an existing category:</option>
        {{#each categories}}
        <option value="{{this.id}}">{{this.category}}</option>
        {{/each}}
    </select>

    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">
</form>

{{!-- Form to update a record to the table --}}
<h3>Update Customer:</h3>
<form id="update-customer-form-ajax">

    <label for="input-name">Choose Customer: </label>
    <select name="input-name" id="select-customer" onchange="populateFields(this.value)">
        <option value="">Select a Customer</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-update-firstName"><br>Update First Name: </label>
    <input type="text" name="input-update-firstName" id="input-update-firstName">
    <br>

    <label for="input-update-lastName">Update Last Name: </label>
    <input type="text" name="input-update-lastName" id="input-update-lastName">
    <br>
    <label for="input-name">Update Preferred Category: </label>
    <select name="input-category" id="select-category">
        <option value="">Select an existing category:</option>
        {{#each categories}}
        <option value="{{this.id}}">{{this.category}}</option>
        {{/each}}
    </select>

    <br>
    <br>
    <input type="submit" class="submit-button" style="float: right;">

</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_customer.js"></script>
<script src="./js/delete_customer.js"></script>
<script src="./js/update_customer.js"></script>