<h2>Categories + Customers Intersection Table</h2>
<br>

{{!-- Create a table --}}
<table id="drinkCategoriesCustomers-table">

  {{!-- Header section --}}
  <thead>

    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>

    {{!-- For each row, print info in order --}}
    {{#each data}}
    <tr data-value={{this.drinkCategoriesCustomersID}}>
      <td>{{this.drinkCategoriesCustomersID}}</td>
      <td>{{this.drinkCategoryID}}</td>
      <td>{{this.customerID}}</td>
      <td><button class="delete-button" onclick="deleteTool({{this.drinkCategoriesCustomersID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<h3>ADD RELATIONSHIP:</h3>

<form>
  <label>
    Customer ID:
    <input type="text">
  </label><br>
  Drink Category (By ID#):
  <input type="radio" name="drink_category" value="1"> 1: Old Fashioned
  <input type="radio" name="drink_category" value="2"> 2: Daiquiri
  <input type="radio" name="drink_category" value="3"> 3: Martini
  <input type="radio" name="drink_category" value="4"> 4: Highball
  <input type="radio" name="drink_category" value="5"> 5: Flip
  <input type="radio" name="drink_category" value="6"> 6: Sidecar
  </label><br>
  <input type="submit" value="Add Customer">
</form>

<div>
  <h3>UPDATE RELATIONSHIP:</h3>

  <form>
    <label>
      Customer ID:
      <input type="text">
    </label><br>
    Drink Category (By ID#):
    <input type="radio" name="drink_category" value="1"> 1: Old Fashioned
    <input type="radio" name="drink_category" value="2"> 2: Daiquiri
    <input type="radio" name="drink_category" value="3"> 3: Martini
    <input type="radio" name="drink_category" value="4"> 4: Highball
    <input type="radio" name="drink_category" value="5"> 5: Flip
    <input type="radio" name="drink_category" value="6"> 6: Sidecar
    </label><br>
    <input type="submit" value="Add Customer">
  </form>
</div>