<!-- index.hbs -->

{{!-- Create a table --}}
<table id="ingredients-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.id}}>
            <td>{{this.id}}</td>
            <td>{{this.ingredientName}}</td>
            <td>{{this.amountOnHand}}</td>
            <td><button onclick="deleteIngredient({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Form to add a record to the table --}}
<h2>Add Data</h2>
<p>To add a new ingredient, please enter the information below and click 'Submit'!</p>
<form id="add-ingredient-form-ajax">
    <label for="input-name">Ingredient Name: </label>
    <input type="text" name="input-name" id="input-name">

    <label for="input-amount">Amount on hand: </label>
    <input type="text" name="input-amount" id="input-amount">

    <input type="submit">
</form>

{{!-- Form to update a record to the table --}}
<h2>Update Ingredient:</h2>
<form id="update-ingredient-form-ajax">

    <label for="input-name">Ingredient name: </label>
    <select name="input-name" id="mySelect">
        <option value="">Select an ingredient</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.ingredientName}}</option>
        {{/each}}
    </select>

   <label for="input-amount">Amount on hand: </label>
    <input type="text" name="input-amount" id="input-update-amount">
    <input type="submit">

</form>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_ingredient.js"></script>
<script src="./js/delete_ingredient.js"></script>
<script src="./js/update_ingredient.js"></script>