<h2>The Tools</h2>
<br>

{{!-- Create a table --}}
<table id="tools-table">

  {{!-- Header section --}}
  <thead>

    {{!-- For just the first row, we print each key of the row object as a header cell so we
    know what each column means when the page renders --}}
    <tr>
      {{#each data.[0]}}
      <th>
        {{@key}}
      </th>
      {{/each}}
      <th>delete</th>
    </tr>
  </thead>

  {{!-- Body section --}}
  <tbody>

    {{!-- For each row, print info in order --}}
    {{#each data}}
    <tr data-value={{this.id}}>
      <td>{{this.id}}</td>
      <td>{{this.toolName}}</td>
      <td><button class="delete-button" onclick="deleteTool({{this.id}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div>
  <div>
    <h3>ADD TOOL:</h3>
    <form>
      <label>
        Name:
        <input type="text">
      </label><br>
      <input type="submit" value="Add Tool">
    </form>
  </div>
  <div>
    <h3>UPDATE TOOL: </h3>
    <form>
      <label>Select a Tool to Update:</label>
      <label>
        <select name="cocktails">
          <option value="bar-spoon">Bar Spoon</option>
          <option value="mixing-glass">Mixing Glass</option>
          <option value="shaker-tin">Shaker Tin</option>
          <option value="strainer">Hawthorne Strainer</option>
          <option value="muddler">Muddler</option>
        </select>
      </label>
      <br>
      <label>
        Name:
        <input type="text">
      </label><br>
      <input type="submit" value="Update">
      <input type="submit" value="Delete">
    </form>
  </div>
</div>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_tool.js"></script>
<script src="./js/delete_tool.js"></script>
<script src="./js/update_tool.js"></script>